svg {
    display: block;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

h1 {
    color: #ffffff;
}

.card {
    background-color: #1e1e1e;
    border: 1px solid #333;
}

.card-body {
    color: #cfcfcf;
    position: relative;
    display: flex;
    align-items: center;
}

.card-body a {
    color: #ffffff;
    text-decoration: none;
}

.card-body a:hover {
    color: #0d6efd;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    fill: #ffffff;
}

.item {
    display: flex;
    align-items: center;
}

.alert {
    background-color: #333;
    color: #ff6b6b;
    border-color: #ff6b6b;
}

#item-name {
    margin-left: 10px;
}

#edit-file {
    margin-left: 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

#download-file {
    margin-left: 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

#delete-file {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
}

#edit-file svg:hover {
    stroke: #575555;
    transition: stroke 0.2s ease;
}

#delete-file svg:hover {
    stroke: #575555;
    transition: stroke 0.2s ease;
}

#download-file svg:hover {
    stroke: #575555;
    transition: stroke 0.2s ease;
}

#edit-box {
    position: relative;
    display: none;
}

#edit-box input {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#edit-box button {
    background: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

#edit-box button:hover {
    background: #0056b3;
}

.context-menu {
    position: absolute;
    display: none;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1000;
    width: 150px;
}

.context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #1e1e1e;
}

.context-menu ul li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #e5e5e5;
}

.context-menu ul li:last-child {
    border-bottom: none;
}

.context-menu ul li:hover {
    background-color: #f0f0f0;
}

.hidden {
    display: none;
}

.form-control {
    height: 24px;
    border-radius: 4px;
    margin-left: 0px;
    width: 150px;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}